@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br><br><br>

<p>This page belongs to the titans...</p>
<br>

<ul>
    <li>Manthan Sharma</li>
    <li>Achal Agarwal</li>
    <li>Sugandh Kumar</li>
    <li>Amit Agarwal</li>

</ul>
